{% extends 'app1/padre.html' %}
{% load static %}

{% block nombre_pagina %}
<title>Entrenadores</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Entrenadores</h1>
{% endblock %}

{% block inscripcion %}
<h3>Inscripcion Entrenadores</h3>

<form action="{% url 'entrenadores' %}" method="POST"> {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Inscribir Entrenador">
</from>

{% endblock %}

{% block busqueda %}
<h3>Buscar Entrenador</h3>
<a class="btn btn-primary" href={% url 'busquedaentrenadores' %}>Ir a buscar entrenador</a>
<p class="lead mb-0">Se buscara el entrenador segun su numero de lancha, por favor ingresar el mismo</p>
{% endblock%}

