{% extends 'app1/padre.html' %}
{% load static %}

{% block nombre_pagina %}
<title>Timoneles</title>
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Timoneles</h1>
{% endblock %}

{% block inscripcion %}
<h3>Inscripcion Timoneles</h3>

<form action="{% url 'timoneles' %}" method="POST"> {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Inscribir Timonel">
</from>

{% endblock %}

{% block busqueda %}
<h3>Buscar Timoneles</h3>
<a class="btn btn-primary" href={% url 'busquedatimoneles' %}>Ir a buscar timonel</a>
<p class="lead mb-0">Se buscara el timonel segun su numero de vela, por favor ingresar el mismo</p>
{% endblock%}
